<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{password.change}">Change password</title>
</head>
<body>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h3 th:text="#{password.change}">Change password</h3>

                    <th:block th:if="${errorMessage != null}">
                        <div class="alert alert-danger" role="alert">
                            <p th:text="${errorMessage}">Message</p>
                        </div>
                    </th:block>

                    <form th:action="@{/change}" th:object="${request}" th:method="post">
                        <input type="hidden" name="token" th:value="${token}">
                        <div class="form-group">
                            <div class="col-14">
                                <input id="password-new" th:field="*{newPassword}" type="password" class="form-control" placeholder="New password" aria-label="default input example" required/>
                                <div style="color: red; text-align: left" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error">New password error</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-14">
                                <input id="password-confirm" th:field="*{confirmPassword}" type="password" class="form-control" placeholder="Confirm password" aria-label="default input example" required/>
                                <div style="color: red; text-align: left" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error">Confirm password error</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button th:text="#{password.change}" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>