<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{employees.title}">Employees</title>
</head>
<body>
<br>
<h2 style="margin-left: 30px" th:text="#{employees.update}">Update employee</h2>
<br>
<div style="margin-left: 30px">
    <form th:action="@{/employees}" th:object="${employee}" th:method="put">
        <div class="form-group">
            <div class="col-1">
                <label for="id" th:text="#{employees.id}">Id:</label>
                <input id="id" type="text" th:field="*{id}" class="form-control" readonly/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label for="surname" th:text="#{employees.surname}">Surname:</label>
                <input id="surname" type="text" th:field="*{surname}" class="form-control" required/>
                <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error">Surname error</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label for="name" th:text="#{employees.name}">Name:</label>
                <input id="name" type="text" th:field="*{name}" class="form-control" required/>
                <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Name error</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label for="middleName" th:text="#{employees.middleName}">Middle Name:</label>
                <input id="middleName" type="text" th:field="*{middleName}" class="form-control" required/>
                <div style="color: red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="error">MiddleName error</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label for="post" th:text="#{employees.post}">Post:</label>
                <input id="post" type="text" th:field="*{post}" class="form-control" required/>
                <div style="color: red" th:if="${#fields.hasErrors('post')}" th:errors="*{post}" class="error">Post error</div>
            </div>
        </div>
        <div>
            <button class="btn btn-light" th:text="#{employees.update}">Update employee</button>
        </div>
    </form>
</div>
<br>
<div style="margin-left: 30px">
    <form th:action="@{/employees}">
        <button class="btn btn-light" th:text="#{menu.back}">Back</button>
    </form>
</div>
</body>
</html>