<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{tasks.title}">Tasks</title>
</head>
<body>
<br>
<h2 style="margin-left: 30px" th:text="#{tasks.update}">Update task</h2>
<br>
<div style="margin-left: 30px">
    <form th:action="@{/tasks}" th:object="${task}" th:method="put">
        <div class="row justify-content-start">
            <div class="col-2">
                <div class="form-group">
                    <div class="col-4">
                        <label for="id" th:text="#{tasks.id}">Id:&nbsp;</label>
                        <input id="id" type="text" th:field="*{id}" class="form-control" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <label for="title" th:text="#{tasks.name}">Title:&nbsp;</label>
                        <input id="title" type="text" th:field="*{title}" class="form-control" required/>
                        <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">Title error</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-10">
                        <label for="project" th:text="#{tasks.project}">Project:</label>
                        <select id="project" th:name="projectId" class="form-control" required>
                            <option th:each="p : ${projects}"
                                    th:value="${p.id}"
                                    th:text="${p.title}"
                                    selected="selected">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-6">
                        <label for="hours" th:text="#{tasks.hours}">Hours:&nbsp;</label>
                        <input id="hours" type="number" step="1" min="1" max="1000" th:field="*{hours}" class="form-control" required/>
                        <div style="color: red" th:if="${#fields.hasErrors('hours')}" th:errors="*{hours}" class="error">Hours error</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-10">
                        <label for="status" th:text="#{tasks.status}">Status:&nbsp;</label>
                        <select id="status" th:field="*{status}" class="form-control" required>
                            <option th:each="s : ${statuses}"
                                    th:text="${s.name()}"
                                    th:value="${s.name()}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <div class="col-12">
                        <label for="startDate" th:text="#{tasks.startDate}">Start date:&nbsp;</label>
                        <input id="startDate" type="date" th:field="*{startDate}" class="form-control" required/>
                        <div style="color: red" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}" class="error">Start date error</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <label for="endDate" th:text="#{tasks.endDate}">End date:&nbsp;</label>
                        <input id="endDate" type="date" th:field="*{endDate}" class="form-control" required/>
                        <div style="color: red" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}" class="error">End date error</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-10">
                        <label for="employees" th:text="#{tasks.employees}">Employees:</label>
                        <select id="employees" th:name="employee" class="form-control" multiple required>
                            <option th:each="e : ${employees}"
                                    th:value="${e.id}"
                                    th:text="${e.name} + ' ' + ${e.surname}"
                                    th:selected="${selectedIds.contains(e.id)}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-light" th:text="#{tasks.update}">Update task</button>
        </div>
    </form>
</div>
<br>
<div style="margin-left: 30px">
    <form th:action="@{/tasks}">
        <button class="btn btn-light" th:text="#{menu.back}">Back</button>
    </form>
</div>
<br>
</body>
</html>