<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/resources/css/home.css" rel="stylesheet">
    <title th:text="#{tasks.title}">Tasks</title>
</head>
<body>
<br>
<h2 class="ml" th:text="#{tasks.title}">Tasks</h2>
<br>
<th:block th:if="${!tasks.isEmpty()}">
    <table class="table">
        <tr>
            <th width="80" th:text="#{tasks.id}">Id</th>
            <th width="80" th:text="#{tasks.project}">
                <a th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=project&sortDirection=' + ${sortReverse}}">Project</a>
            </th>
            <th width="120" th:text="#{tasks.name}">
                <a th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=title&sortDirection=' + ${sortReverse}}">Title</a>
            </th>
            <th width="120" th:text="#{tasks.startDate}">
                <a th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=startDate&sortDirection=' + ${sortReverse}}">Start date</a>
            </th>
            <th width="120" th:text="#{tasks.endDate}">
                <a th:href="@{'/tasks/page/' + ${currentPage} + '?sortField=endDate&sortDirection=' + ${sortReverse}}">End date</a>
            </th>
            <th width="120" th:text="#{tasks.employees}">Employees</th>
            <th width="120" th:text="#{tasks.status}">Status</th>
            <th width="80" th:text="#{tasks.edit}">Edit</th>
            <th width="80" th:text="#{tasks.delete}">Delete</th>
        </tr>
        <div th:each="task : ${tasks}">
            <tr>
                <td><b th:text="${task.getId()}"></b></td>
                <td><b th:text="${task.getProject().getAbbreviation()}"></b></td>
                <td><b th:text="${task.getTitle()}"></b></td>
                <td><b th:text="${task.getStartDate()}"></b></td>
                <td><b th:text="${task.getEndDate()}"></b></td>
                <td>
                    <div th:each="employee, iStat : ${task.getEmployees()}">
                        <th:block th:if="${!iStat.last}">
                            <b th:text="${employee.name} + ' ' + ${employee.surname} + ',' "></b>
                        </th:block>
                        <th:block th:if="${iStat.last}">
                            <b th:text="${employee.name} + ' ' + ${employee.surname}"></b>
                        </th:block>
                    </div>
                </td>
                <td><b th:text="${task.getStatus()}"></b></td>
                <td>
                    <form th:action="@{/tasks/edit/{id}(id=${task.getId()})}">
                        <button type="submit" class="btn btn-link" th:text="#{tasks.edit}">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/tasks/{id}(id=${task.getId()})}" th:method="delete">
                        <button type="submit" class="btn btn-link" th:text="#{tasks.delete}">Delete</button>
                    </form>
                </td>
            </tr>
        </div>
    </table>
</th:block>
<br>
<div class="ml" th:if="${totalPages > 1}">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:if="${page.hasPrevious()}" th:href="@{'/tasks/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}" th:text="#{menu.prev}">Previous</a>
            </li>
            <li th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item">
                <div class="page-item" th:if="${currentPage != i}">
                    <a class="page-link" th:href="@{'/tasks/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                </div>
                <div class="page-item active" th:if="${currentPage == i}">
                    <a class="page-link" th:href="@{'/tasks/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
                </div>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${page.hasNext()}" th:href="@{'/tasks/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}" th:text="#{menu.next}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<br>
<div class="ml">
    <form th:action="@{/tasks/new}">
        <button class="btn btn-light" th:text="#{tasks.add}">Add task</button>
    </form> <br>
    <form th:action="@{/}">
        <button class="btn btn-light" th:text="#{menu.back}">Back</button>
    </form>
</div>
</body>
</html>