<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="#{projects.title}">Projects</title>
</head>
<body>
<br>
<h2 style="margin-left: 30px" th:text="#{projects.update}">Update project</h2>
<br>
<div style="margin-left: 30px">
    <form th:action="@{/projects}" th:object="${project}" th:method="put">
        <div class="form-group">
            <div class="col-1">
                <label for="id" th:text="#{projects.id}">Id:&nbsp;</label>
                <input id="id" type="text" th:field="*{id}" class="form-control" readonly/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-2">
                <label for="title" th:text="#{projects.name}">Title:&nbsp;</label>
                <input id="title" type="text" th:field="*{title}" class="form-control" required/>
                <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">Title error</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-1">
                <label for="abbreviation" th:text="#{projects.abbreviation}">Abbreviation:&nbsp;</label>
                <input id="abbreviation" type="text" th:field="*{abbreviation}" class="form-control" required/>
                <div style="color: red" th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}" class="error">Abbreviation error</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-3">
                <label for="description" th:text="#{projects.description}">Description:&nbsp;</label>
                <textarea id="description" type="text" th:field="*{description}" class="form-control" required>Description</textarea>
                <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">Description error</div>
            </div>
        </div>
        <th:block th:if="${!tasks.isEmpty()}">
            <div class="form-group">
                <div class="col-2">
                    <label for="task" th:text="#{menu.tasks}"> Tasks:</label>
                    <select id="task" th:name="task" class="form-control" multiple required>
                        <option th:each="t : ${tasks}"
                                th:value="${t.id}"
                                th:text="${t.title}"
                                th:selected="${selectedIds.contains(t.id)}">
                        </option>
                    </select>
                </div>
            </div>
        </th:block>
        <div>
            <br><button class="btn btn-light" th:text="#{projects.update}">Update project</button>
        </div>
    </form>
</div>
<br>
<div style="margin-left: 30px">
    <form th:action="@{/projects}">
        <button class="btn btn-light" th:text="#{menu.back}">Back</button>
    </form>
</div>
<br>
</body>
</html>
